<div class="title">
  <h1><span>Quiz App</span></h1>
  <p>ionicで作る簡単なクイズアプリ</p>
</div>

<div class="list">
 <label class="item item-input item-select item-stable">
   <div class="input-label">
     カテゴリー選択
   </div>

   <select ng-model="category_id"
           ng-options="categories.category_id as categories.category_name  for categories in categories"  value="{{category_id}}">

 <option value="">選択してください</option>

   </select>

 </label>
</div>
<br>
<br>
<br>
<br>
<div class="start-btn" align="center">
  <button  ng-click="gameStart(category_id)" class="button button-positive button-large">
          Game Start
        </button>
</div>

